<form action="/auth/login" class="auth js-auth-form" method="post">
	<div class="form-group">
		<input class="form__data form-control" name="login" placeholder="Логин" type="text" value="">
	</div>
	<div class="form-group">
		<input class="form__data form-control" name="password" placeholder="Пароль" type="password">
	</div>
	<div class="form-group form-group--tac" >
		<button class="form__button btn btn-main btn-reset" type="submit">Войти</button>
	</div>
	<div class="form-group hidden">
		<a href="#" class="mbtn mbtn--flat js-reg">Зарегистрироваться</a>
	</div>
	<div class="form-group hidden">
		<a href="#" class="mbtn mbtn--flat js-pas">Забыли пароль?</a>
	</div>
</form>